@charset "UTF-8";
html {
  font-size: 16px; }

body {
  font-family: Verdana, sans-serif;
  background-color: #8c001c;
  color: #360916;
  font-size: 1rem; }

img {
  max-width: 100%;
  width: 100%; }

a {
  color: #d94709; }
  a:hover {
    color: #a80022; }

span.invisible-text {
  display: none; }

.bar {
  width: 100%;
  position: relative;
  z-index: 0; }
  .bar.white {
    background-color: #fff; }
  .bar.gray {
    background-color: #fdead3; }
  .bar.top-banner {
    background-color: #000;
    box-shadow: 0 1px 4px rgba(54, 9, 22, 0.25);
    padding: .5em 0;
    z-index: 100; }
    .bar.top-banner.pinned {
      position: fixed;
      top: 0;
      right: 0;
      left: 0; }
    .bar.top-banner a.logo {
      display: block;
      margin: 0 auto;
      max-width: 235px;
      width: 50%; }
    .bar.top-banner #hamburger {
      display: none;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 22.5px; }
      .bar.top-banner #hamburger img {
        display: block;
        height: 16px;
        width: 22.5px; }
    .bar.top-banner #mobile-header {
      display: none; }
      .bar.top-banner #mobile-header ul {
        list-style-type: none;
        margin-top: 1em;
        padding-left: 0;
        text-align: center; }
        .bar.top-banner #mobile-header ul li {
          border-bottom: 1px #360916 solid; }
          .bar.top-banner #mobile-header ul li:last-child {
            border-bottom-width: 0px; }
          .bar.top-banner #mobile-header ul li a {
            background-color: transparent;
            color: #fff;
            display: block;
            padding: .25em 0; }
            .bar.top-banner #mobile-header ul li a:hover, .bar.top-banner #mobile-header ul li a:active {
              background-color: #360916;
              text-decoration: none; }
  .bar.header {
    background-color: #360916;
    box-shadow: 0 1px 4px rgba(54, 9, 22, 0.25);
    z-index: 99; }
  .bar.hero {
    background-color: #a80022; }
  .bar.references {
    border-color: #fac589;
    border-style: dashed;
    border-width: 0 0 1px 0; }
    .bar.references h2 {
      margin-top: 0; }
    .bar.references p {
      padding-left: 2em;
      text-indent: -2em; }
  .bar.footer {
    background-color: #8c001c;
    color: #fcdebb;
    padding: 1em 0 3em 0; }
    .bar.footer a {
      color: #fac589; }
    .bar.footer nav ul.links {
      list-style-type: none;
      padding: 0;
      text-align: center; }
      .bar.footer nav ul.links li {
        display: inline-block;
        margin-right: 1em;
        padding-bottom: 1em; }
        .bar.footer nav ul.links li:last-child {
          margin-right: 0; }
    .bar.footer p {
      margin-bottom: 1.5em; }
    .bar.footer p.license {
      font-size: .75em; }
      .bar.footer p.license img {
        margin-bottom: .5em;
        width: 88px; }

article {
  background-color: #fdead3; }

.hero-banner {
  background-position: left;
  background-repeat: repeat-x;
  opacity: 0.3333;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }

.hero-gradient {
  background: -moz-linear-gradient(left, rgba(168, 0, 34, 0) 0%, #a80022 66.6667%, #a80022 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(168, 0, 34, 0) 0%, #a80022 66.6667%, #a80022 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(168, 0, 34, 0) 0%, #a80022 66.6667%, #a80022 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a80022', endColorstr='#a80022',GradientType=1 );
  /* IE6-9 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

.header nav ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  .header nav ul li {
    display: inline-block;
    list-style-type: none; }
    .header nav ul li a {
      background-color: transparent;
      color: #fcdebb;
      display: block;
      padding: 1em .75em; }
      .header nav ul li a:hover {
        background-color: #a80022;
        color: #fcdebb;
        text-decoration: none; }
      .header nav ul li a.here {
        background-color: #a80022;
        color: #fcdebb; }
    .header nav ul li.anchor a {
      background-color: #8c001c;
      color: #fcdebb; }

body.homepage article {
  position: relative; }
  body.homepage article img.background {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0; }
body.homepage header {
  padding-top: 8em;
  padding-bottom: 8em; }
body.homepage .post-content {
  background-color: #fff;
  padding-right: 2em;
  padding-padding: 0 0 1em 0;
  padding-left: 2em; }
  body.homepage .post-content .full-width {
    margin-right: -2em;
    margin-left: -2em; }
body.homepage .footnotes {
  padding: 0;
  width: auto; }

.essays-landing {
  padding-top: 4em;
  padding-bottom: 4em; }
  .essays-landing hr {
    border-width: 0;
    color: #fcdebb;
    margin: 0 auto 3em auto;
    opacity: 0.5;
    padding-left: 4em; }
    .essays-landing hr:after {
      content: '✢ ✢ ✢ ✢ ✢'; }
    .essays-landing hr.one-col {
      display: none;
      margin-top: 1em;
      margin-bottom: 2em;
      text-align: left; }
    .essays-landing hr.two-col {
      display: block;
      text-align: right; }
  .essays-landing .post {
    padding-top: 1em;
    padding-bottom: 1em; }
    .essays-landing .post a {
      display: block;
      padding-left: 4em;
      position: relative; }
      .essays-landing .post a span.number {
        font-family: Georgia, serif;
        color: #fcdebb;
        display: block;
        font-size: 4em;
        font-weight: bold;
        line-height: 100%;
        min-width: 1.5em;
        opacity: 0.5;
        position: absolute;
        top: -.125em;
        left: -.25em;
        text-align: right;
        z-index: 0; }
      .essays-landing .post a span.title {
        font-family: Georgia, serif;
        color: #360916;
        display: block;
        font-size: 1.75em;
        line-height: 125%;
        position: relative;
        z-index: 1; }
      .essays-landing .post a span.author {
        color: #360916;
        display: block;
        position: relative;
        z-index: 1; }
      .essays-landing .post a:hover {
        text-decoration: none; }
        .essays-landing .post a:hover span.title {
          color: #d94709;
          text-decoration: underline; }

@media (max-width: 992px) {
  body.homepage header {
    padding-top: 4em;
    padding-bottom: 4em; }

  .hide-below-md {
    display: none; }

  .essays-landing hr.one-col {
    display: block; }
  .essays-landing hr.two-col {
    display: none; } }
@media (max-width: 768px) {
  html {
    font-size: 15px; }

  div.bar.top-banner a.logo {
    width: 80%; } }
@media (max-width: 480px) {
  html {
    font-size: 14px; } }
@media (max-width: 640px) {
  .header nav {
    font-size: .866666667em; } }
@media (max-width: 550px) {
  body {
    padding-top: 32px; }

  .bar.top-banner {
    position: fixed;
    top: 0; }
    .bar.top-banner #hamburger {
      display: block; }

  .header {
    display: none; } }
header {
  color: #fff;
  margin: 4em auto 1em auto;
  position: relative;
  z-index: 2; }
  header h1 {
    letter-spacing: -.05em;
    margin-bottom: 0; }
  header p.post-meta {
    margin-top: 0; }

.page-content {
  font-family: Georgia, serif;
  font-size: 1.125em;
  padding-top: 2em;
  padding-bottom: 2em; }
  .page-content h2 {
    border-color: #fac589;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: 2em 0 1em 0; }
    .page-content h2:first-child {
      margin-top: 0; }
  .page-content h3 {
    margin: 2em 0 1em 0; }
  .page-content p {
    margin-bottom: 1.5em; }
  .page-content .list-layout ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }
    .page-content .list-layout ul li {
      margin-bottom: 1em;
      padding-left: 2em;
      text-indent: -2em; }

.post-content {
  font-family: Georgia, serif;
  font-size: 1.125em;
  padding-top: 2em;
  padding-bottom: 2em; }
  .post-content blockquote {
    margin: 0 0 2.5em 0; }
  .post-content h2 {
    border-color: #fac589;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: 2em 0 1em 0; }
    .post-content h2:first-child {
      margin-top: 0; }
  .post-content p {
    line-height: 150%;
    margin-bottom: 1.5em; }
    .post-content p.byline {
      font-style: italic; }
    .post-content p a {
      color: #a80022;
      border-bottom: 1px solid #d94709; }
      .post-content p a:hover {
        color: #d94709;
        text-decoration: none; }
  .post-content img {
    margin: 2.5em auto; }
  .post-content .floated-image {
    float: right; }
    .post-content .floated-image > img {
      margin: 1em 0 1em 1em; }

.video-block {
  background-color: #fdead3;
  margin: 2em -2em;
  padding: 1em 2em;
  text-align: center; }
  .video-block img.loader {
    width: 100px; }
  .video-block a.video-poster {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    position: relative;
    width: auto; }
    .video-block a.video-poster div.play-button {
      background-image: url(../images/play-button.png);
      background-repeat: no-repeat;
      background-size: 100px 200px;
      height: 100px;
      margin: -50px 0 0 -50px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      z-index: 1; }
    .video-block a.video-poster:hover div.play-button {
      background-position: 0 -100px; }
  .video-block img.video-poster {
    margin: 0;
    max-width: 480px;
    position: relative;
    z-index: 0; }
  .video-block iframe {
    background-color: #fdead3;
    height: 385px;
    margin: 0 auto;
    max-width: 495px;
    width: 100%; }

.image-block {
  background-color: #fdead3;
  margin: 2em -2em;
  padding: 1em 2em; }
  .image-block img {
    border: 1px solid #fac589;
    display: block;
    margin: 0 auto 1em auto; }
    .image-block img.tall-image {
      max-width: 640px; }
  .image-block.image-gallery .image {
    margin-bottom: 1em;
    text-align: center; }
    .image-block.image-gallery .image > a > img {
      cursor: zoom-in;
      margin: 0; }

p.caption {
  font-size: 1.0625em;
  margin: 1em 0 0 0; }
  p.caption span.credit {
    font-family: Verdana, sans-serif;
    font-size: .764705882em;
    white-space: nowrap; }
    p.caption span.credit a {
      border-bottom-width: 0; }
      p.caption span.credit a:hover {
        text-decoration: underline; }

.footnotes {
  font-family: Georgia, serif;
  font-size: .9em;
  margin: 2em auto 0 auto;
  padding: 2em 0; }
  .footnotes ol {
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em; }

@media (max-width: 768px) {
  .footnotes {
    padding: 0 30px;
    width: auto; }

  p.caption span.credit {
    white-space: normal; } }
@media (min-width: 768px) and (max-width: 992px) {
  .footnotes {
    padding: 0 30px;
    width: 750px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .footnotes {
    padding: 0 93.3333px;
    width: 970px; } }
@media (min-width: 1200px) {
  .footnotes {
    padding: 0 220px;
    width: 1170px; } }
