---
layout: default
title: Histories
nav_highlight: histories
---

<div class="bar white essays-landing">
  <div class="container">
    {% for post in site.posts reversed %}
      {% capture loopcount %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
      {% if loopcount == '0' -%}
      <div class="row">
      {% endif -%}
        <div class="post col-xs-12 col-md-6">
          <a href="{{ site.baseurl }}{{ post.permalink }}">
            <span class="number">{{ forloop.index }}.</span>
            <span class="title">{{ post.title }}</span>
            {% if post.subtitle -%}
              <span class="subtitle">{{ post.subtitle }}</span>
            {% endif -%}
            <span class="author">By {{ post.author }}</span>
          </a>
          <hr class="one-col" />
        </div>
      {% if loopcount == '1' -%}
        </div>
        <div class="row hide-below-md">
          <div class="col-xs-6"><hr class="two-col" /></div>
          <div class="col-xs-6"><hr class="two-col" /></div>
        </div>
      {% endif -%}
    {% endfor %}
    {% if loopcount != '1' -%}
      </div>
    {% endif -%}
  </div>
</div>
