<div class="top-banner bar">
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/interface/banner.png" alt="Behind the Tower" /><span class="invisible-text">Behind the Tower</span></a>
</div>
<div class="header bar">
  <nav class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul><!--
          {% if page.nav_highlight == 'essays' -%}
            --><li><a href="{{ site.baseurl }}/essays" class="here">Essays</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/essays">Essays</a></li><!--
          {% endif -%}
          {% if page.nav_highlight == 'timeline' -%}
            --><li><a href="{{ site.baseurl }}/timeline" class="here">Timeline</a></li>!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/timeline">Timeline</a></li><!--
          {% endif -%}
        --></ul>
      </div>
      <div class="col-xs-6">
        <ul class="right"><!--
          {% if page.nav_highlight == 'further-reading' -%}
            --><li><a href="{{ site.baseurl }}/further-reading" class="here">Further Reading</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/further-reading">Further Reading</a></li><!--
          {% endif -%}
          {% if page.nav_highlight == 'contributors' -%}
            --><li><a href="{{ site.baseurl }}/contributors" class="here">Contributors</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/contributors">Contributors</a></li><!--
          {% endif -%}
          {% if page.nav_highlight == 'about' -%}
            --><li><a href="{{ site.baseurl }}/about" class="here">About</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/about">About</a></li><!--
          {% endif -%}
        --></ul>
      </div>
    </div>
  </nav>
</div>
