<div class="header white bar">
  <nav class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul><!--
          --><li class="anchor"><a href="{{ site.baseurl }}/">{{ site.title }}</a></li><!--
          {% if page.nav_highlight == 'essays' -%}
            --><li><a href="{{ site.baseurl }}/essays" class="here">Essays</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/essays">Essays</a></li><!--
          {% endif -%}
        --></ul>
      </div>
      <div class="col-xs-6">
        <ul class="right"><!--
          {% if page.nav_highlight == 'contributors' -%}
            --><li><a href="{{ site.baseurl }}/contributors" class="here">Contributors</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/contributors">Contributors</a></li><!--
          {% endif -%}
          {% if page.nav_highlight == 'about' -%}
            --><li><a href="{{ site.baseurl }}/about" class="here">About</a></li><!--
          {% else -%}
            --><li><a href="{{ site.baseurl }}/about">About</a></li><!--
          {% endif -%}
        --></ul>
      </div>
    </div>
  </nav>
</div>