<div class="header white bar">
  <nav class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul><!--
          --><li class="anchor"><a href="/">{{ site.title }}</a></li><!--
          {% if page.nav_highlight == 'essays' -%}
            --><li><a href="/essays" class="here">Essays</a></li><!--
          {% else -%}
            --><li><a href="/essays">Essays</a></li><!--
          {% endif -%}
        --></ul>
      </div>
      <div class="col-xs-6">
        <ul class="right"><!--
          {% if page.nav_highlight == 'about' -%}
            --><li><a href="/about" class="here">About</a></li><!--
          {% else -%}
            --><li><a href="/about">About</a></li><!--
          {% endif -%}
        --></ul>
      </div>
    </div>
  </nav>
</div>