@import 'variables';

header {
  color: $negativeColor;
  margin: 4em auto 1em auto;
  position: relative;
  z-index: 2;

  h1 {
    letter-spacing: -.05em;
    margin-bottom: 0;
  }

  p.post-meta {
    margin-top: 0;
  }
}


.post-content {
  @include serif-font-stack;
  font-size: 1.125em;
  padding: {
    top: 3em;
    bottom: 3em;
  }

  blockquote {
    margin: 0 0 2.5em 0;
  }

  h2 {
    margin: 2em 0 1em 0;
  }

  p {
    line-height: 150%;
    margin-bottom: 1.5em;
  }

  img {
    margin: 2.5em auto;
  }

  .floated-image {
    float: right;

    & > img {
      margin: 1em 0 1em 1em;
    }
  }
}

.video-block {
  background-color: $lowlightBackground;
  background-color: rgba($lowlightBackground, 0.5);
  margin: 2em -2em;
  padding: 1em 2em;
  text-align: center;

  iframe {
    background-color: $lowlightBackground;
    height: 385px;
    margin: 0 auto;
    max-width: 100%;
    width: 495px;
  }

  p.caption {
    font: {
      size: .9375em; // 15px
      style: italic;
    }
    margin: 0;
    text-align: left;
  }
}

.image-block {
  background-color: $lowlightBackground;
  background-color: rgba($lowlightBackground, 0.5);
  margin: 2em -2em;
  padding: 1em 2em;

  img {
    border: 1px solid $interfaceStroke;
    display: block;
    margin: 0 auto 1em auto;
  }

  &.image-gallery {
    .image {
      margin-bottom: 1em;
      text-align: center;

      & > a > img {
        cursor: zoom-in;
        margin: 0;
      }
    }
  }

  p.caption {
    font: {
      size: .9375em; // 15px
      style: italic;
    }
    margin: 0;
  }
}

.footnotes {
  @include serif-font-stack;

  font-size: .9em;
  margin: 2em auto 0 auto;
  padding: 2em 0;

  ol {
    margin-bottom: 0;
    padding: {
      top: 1em;
      bottom: 2em;
      left: 1em;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .footnotes { 
    padding: 0 30px;
    width: auto; 
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .footnotes { 
    padding: 0 30px;
    width: 750px; 
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  .footnotes { 
    padding: 0 93.3333px;
    width: 970px; 
  }
}
@media (min-width: $screen-lg-min) {
  .footnotes { 
    padding: 0 220px;
    width: 1170px; 
  }
}

