@import 'variables';

.post-content {
  @include serif-font-stack;
  font-size: 1.125em;
  padding: {
    top: 3em;
    bottom: 3em;
  }

  blockquote {
    font-size: 1.11111em;
  }

  h2 {
    margin: 2em 0 1em 0;
  }

  p {
    line-height: 150%;
    margin-bottom: 1.5em;
  }

  img {
    margin: 2.5em auto;
  }

  .footnotes {
    background-color: $lowlightBackground;
    border: {
      color: $interfaceStroke;
      style: solid;
      width: 1px 0 0 0;
    }
    margin-top: 3em;
    padding-top: 2em;

    ol {
      font-size: .8em;
    }

    p {
      line-height: 125%;
    }
  }
}

.image-block {
  margin: 2em -2em;
  padding: 1em 2em;

  &.image-gallery {
    background-color: $lowlightBackground;
  }

  .image {
    margin-bottom: 1em;
    text-align: center;

    & > a > img {
      border: 1px solid $interfaceStroke;
      cursor: zoom-in;
      margin: 0;
    }
  }

  p.caption {
    font: {
      size: .9375em; // 15px
      style: italic;
    }
    margin: 0;
  }
}

.footnotes {
  @include serif-font-stack;

  font-size: .9em;
  margin: 2em auto;

  ol {
    padding-left: 1em;
  }
}

@media (max-width: $screen-sm-min) {
  .footnotes { 
    padding: 0 30px;
    width: auto; 
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .footnotes { 
    padding: 0 30px;
    width: 750px; 
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  .footnotes { 
    padding: 0 93.3333px;
    width: 970px; 
  }
}
@media (min-width: $screen-lg-min) {
  .footnotes { 
    padding: 0 220px;
    width: 1170px; 
  }
}

