@import 'mixins';
@import 'variables';

header {
  color: $negativeColor;
  margin: 4em auto 1em auto;
  position: relative;
  z-index: 2;

  h1 {
    letter-spacing: -.05em;
    margin-bottom: 0;
  }

  p.post-meta {
    margin-top: 0;
  }
}

.page-content {
  @include serif-font-stack;
  font-size: 1.125em;
  padding: {
    top: 2em;
    bottom: 2em;
  }

  h2 {
    border: {
      color: $interfaceStroke;
      style: solid;
      width: 0 0 1px 0;
    }
    margin: 2em 0 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin: 2em 0 1em 0;
  }

  p {
    margin-bottom: 1.5em;
  }

  .list-layout {
    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;

      li {
        margin-bottom: 1em;
        padding-left: 2em;
        text-indent: -2em;
      }
    }
  }
}

.post-content {
  @include serif-font-stack;
  font-size: 1.125em;
  padding: {
    top: 2em;
    bottom: 2em;
  }

  blockquote {
    margin: 0 0 2.5em 0;
  }

  h2 {
    margin: 2em 0 1em 0;
  }

  p {
    line-height: 150%;
    margin-bottom: 1.5em;

    &.byline {
      font-style: italic;
    }

    a {
      color: $darkAccentColor;
      border-bottom: 1px solid $accentColor;

      &:hover {
        color: $accentColor;
        text-decoration: none;
      }
    }
  }

  img {
    margin: 2.5em auto;
  }

  .floated-image {
    float: right;

    & > img {
      margin: 1em 0 1em 1em;
    }
  }
}

.video-block {
  background-color: lighten($lowlightBackground, 5%);
  margin: 2em -2em;
  padding: 1em 2em;
  text-align: center;

  a.video-poster {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    position: relative;
    width: auto;

    div.play-button {
      background: {
        image: url(../images/play-button.png);
        repeat: no-repeat;
        size: 100px 200px;
      }
      height: 100px;
      margin: -50px 0 0 -50px;
      position: absolute;
        top: 50%;
        left: 50%;
      width: 100px;
      z-index: 1;
    }

    &:hover {
      div.play-button {
        background-position: 0 -100px;
      }
    }
  }


  img.video-poster {
    margin: 0;
    max-width: 480px;
    position: relative;
    z-index: 0;
  }

  iframe {
    background-color: lighten($lowlightBackground, 5%);
    height: 385px;
    margin: 0 auto;
    max-width: 495px;
    width: 100%;
  }
}

.image-block {
  background-color: lighten($lowlightBackground, 5%);
  margin: 2em -2em;
  padding: 1em 2em;

  img {
    border: 1px solid $interfaceStroke;
    display: block;
    margin: 0 auto 1em auto;

    &.tall-image {
      max-width: 640px;
    }
  }

  &.image-gallery {
    .image {
      margin-bottom: 1em;
      text-align: center;

      & > a > img {
        cursor: zoom-in;
        margin: 0;
      }
    }
  }
}

p.caption {
  font-size: 1.0625em; // 17px
  margin: 1em 0 0 0;

  span.credit {
    @include sans-serif-font-stack;
    font: {
      size: .764705882em; // 13px
    }
    white-space: nowrap;

    a {
      border-bottom-width: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footnotes {
  @include serif-font-stack;

  font-size: .9em;
  margin: 2em auto 0 auto;
  padding: 2em 0;

  ol {
    margin-bottom: 0;
    padding: {
      top: 1em;
      bottom: 2em;
      left: 1em;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .footnotes {
    padding: 0 30px;
    width: auto;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .footnotes {
    padding: 0 30px;
    width: 750px;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  .footnotes {
    padding: 0 93.3333px;
    width: 970px;
  }
}
@media (min-width: $screen-lg-min) {
  .footnotes {
    padding: 0 220px;
    width: 1170px;
  }
}
