@import 'variables';

@mixin serif-font-stack {
  font-family: Georgia, serif;
}

@mixin sans-serif-font-stack {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: $footerBackground;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.bar {
  width: 100%;
  position: relative;
  z-index: 0;

  &.white {
    background-color: #fff;
  }

  &.gray {
    background-color: $lowlightBackground;
  }

  &.header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
  }

  &.footer {
    background-color: $footerBackground;
    border: {
      color: $interfaceStroke;
      style: solid;
      width: 1px 0 0 0;
    }
    padding: 1em 0 3em 0;

    nav ul.links {
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

article {
  background-color: $lowlightBackground;
}

.header {
  nav {
    ul {
      margin: 1em 0;
      padding: 0;

      &.right {
        text-align: right;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.homepage-posts {
  .post {
    a {
      display: block;
      background-color: red;
      color: white;
      margin-bottom: 1em;
      padding: .25em;

      &:hover {
        background-color: black;
        text-decoration: none;
      }

      span.title {
        display: block;
        font: {
          size: 1.25em;
          weight: bold;
        }
      }

      span.byline {
        display: block;
      }
    }
  }
}