@import 'variables';

@mixin serif-font-stack {
  font-family: Georgia, serif;
}

@mixin sans-serif-font-stack {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: $footerBackground;
  color: $textColor;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.bar {
  width: 100%;
  position: relative;
  z-index: 0;

  &.white {
    background-color: #fff;
  }

  &.gray {
    background-color: $lowlightBackground;
  }

  &.header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
  }

  &.footer {
    background-color: $footerBackground;
    border: {
      color: $interfaceStroke;
      style: solid;
      width: 1px 0 0 0;
    }
    padding: 1em 0 3em 0;

    nav ul.links {
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

article {
  background-color: $lowlightBackground;
}

.header {
  nav {
    ul {
      margin: 1em 0;
      padding: 0;

      &.right {
        text-align: right;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.essays-landing {
  padding: {
    top: 4em;
    bottom: 4em;
  }

  hr {
    border-width: 0;
    color: $lowlightBackground;
    padding-left: 4em;
    margin: 0 auto 3em auto;

    &:after {
      content: '✢ ✢ ✢ ✢ ✢';
    }

    &.one-col {
      display: none;
      margin-top: 1em;
      margin-bottom: 2em;
    }

    &.two-col {
      display: block;
    }
  }

  .post {
    padding: {
      top: 1em;
      bottom: 1em;
    }

    a {
      display: block;
      padding-left: 4em;
      position: relative;

      span.number {
        @include serif-font-stack;
        color: $lowlightBackground;
        display: block;
        font: {
          size: 4em;
          weight: bold;
        }
        line-height: 100%;
        min-width: 1.5em;
        position: absolute;
          top: -.125em;
          left: -.25em;
        text-align: right;
        z-index: 0;
      }

      span.title {
        @include serif-font-stack;
        color: $textColor;
        display: block;
        font: {
          size: 1.75em;
        }
        line-height: 125%;
        position: relative;
        z-index: 1;
      }

      span.author {
        color: $textColor;
        display: block;
        position: relative;
        z-index: 1;
      }

      &:hover {
        text-decoration: none;

        span.title {
          color: $accentColor;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .hide-below-md {
    display: none;
  }

  .essays-landing {
    hr {
      &.one-col {
        display: block;
      }

      &.two-col {
        display: none;
      }
    }
  }
}