$interfaceStroke: #ccc;

@mixin serif-font-stack {
  font-family: Georgia, serif;
}

@mixin sans-serif-font-stack {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

.homepage-posts {
  .post {
    a {
      display: block;
      background-color: red;
      color: white;
      margin-bottom: 1em;
      padding: .25em;

      &:hover {
        background-color: black;
        text-decoration: none;
      }

      span.title {
        display: block;
        font: {
          size: 1.25em;
          weight: bold;
        }
      }

      span.byline {
        display: block;
      }
    }
  }
}