@import 'mixins';
@import 'variables';

html {
  font-size: 16px;
}

body {
  @include sans-serif-font-stack;
  background-color: $footerBackground;
  color: $textColor;
  font-size: 1rem;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  color: $accentColor;

  &:hover {
    color: $darkAccentColor;
  }
}

span.invisible-text {
  display: none;
}

.bar {
  width: 100%;
  position: relative;
  z-index: 0;

  &.white {
    background-color: #fff;
  }

  &.gray {
    background-color: $lowlightBackground;
  }

  &.top-banner {
    background-color: #000;
    box-shadow: 0 1px 4px rgba($textColor, 0.25);
    padding: .5em 0;
    z-index: 100;

    &.pinned {
      position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    a {
      display: block;
      margin: 0 auto;
      max-width: 235px;
      width: 50%;
    }
  }

  &.header {
    background-color: $textColor;
    box-shadow: 0 1px 4px rgba($textColor, 0.25);
    z-index: 99;
  }

  &.hero {
    background-color: $darkAccentColor;
  }

  &.references {
    border: {
      color: $interfaceStroke;
      style: dashed;
      width: 0 0 1px 0;
    }

    h2 {
      margin-top: 0;
    }

    p {
      padding-left: 2em;
      text-indent: -2em;
    }
  }

  &.footer {
    background-color: $footerBackground;
    color: $lowlightBackground;
    padding: 1em 0 3em 0;

    a {
      color: $interfaceStroke;
    }

    nav ul.links {
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    p.license {
      font-size: .75em;

      img {
        margin-bottom: .5em;
        width: 88px;
      }
    }
  }
}

article {
  background-color: $lowlightBackground;
}

.hero-banner {
  background: {
    position: left;
    repeat: repeat-x;
  }
  opacity: 0.3333;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 0;
}

.hero-gradient {
  background: -moz-linear-gradient(left,  rgba(168,0,34,0) 0%, rgba(168,0,34,1) 66.6667%, rgba(168,0,34,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(168,0,34,0) 0%,rgba(168,0,34,1) 66.6667%,rgba(168,0,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(168,0,34,0) 0%,rgba(168,0,34,1) 66.6667%,rgba(168,0,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a80022', endColorstr='#a80022',GradientType=1 ); /* IE6-9 */
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1;
}

.header {
  nav {
    ul {
      margin: 0;
      padding: 0;

      &.right {
        text-align: right;
      }

      li {
        display: inline-block;
        list-style-type: none;

        a {
          background-color: transparent;
          color: $lowlightBackground;
          display: block;
          padding: 1em .75em;

          &:hover {
            background-color: $darkAccentColor;
            color: $lowlightBackground;
            text-decoration: none;
          }

          &.here {
            background-color: $darkAccentColor;
            color: $lowlightBackground;
          }
        }

        &.anchor a {
          background-color: $footerBackground;
          color: $lowlightBackground;
        }
      }
    }
  }
}

// Homepage

body.homepage {
  article {
    position: relative;

    img.background {
      display: block;
      position: fixed;
        top: 0;
        right: 0;
        left: 0;
      z-index: 0;
    }
  }

  header {
    padding: {
      top: 4em;
      bottom: 4em;
    }
  }

  .post-content {
    background-color: $negativeColor;
    padding: {
      right: 2em;
      left: 2em;
    }

    .full-width {
      margin: {
        right: -2em;
        left: -2em;
      }
    }
  }

  .footnotes {
    padding: 0;
    width: auto;
  }
}

// Essays

.essays-landing {
  padding: {
    top: 4em;
    bottom: 4em;
  }

  hr {
    border-width: 0;
    color: $lowlightBackground;
    margin: 0 auto 3em auto;
    opacity: 0.5;
    padding-left: 4em;


    &:after {
      content: '✢ ✢ ✢ ✢ ✢';
    }

    &.one-col {
      display: none;
      margin-top: 1em;
      margin-bottom: 2em;
      text-align: left;
    }

    &.two-col {
      display: block;
      text-align: right;
    }
  }

  .post {
    padding: {
      top: 1em;
      bottom: 1em;
    }

    a {
      display: block;
      padding-left: 4em;
      position: relative;

      span.number {
        @include serif-font-stack;
        color: $lowlightBackground;
        display: block;
        font: {
          size: 4em;
          weight: bold;
        }
        line-height: 100%;
        min-width: 1.5em;
        opacity: 0.5;
        position: absolute;
          top: -.125em;
          left: -.25em;
        text-align: right;
        z-index: 0;
      }

      span.title {
        @include serif-font-stack;
        color: $textColor;
        display: block;
        font: {
          size: 1.75em;
        }
        line-height: 125%;
        position: relative;
        z-index: 1;
      }

      span.author {
        color: $textColor;
        display: block;
        position: relative;
        z-index: 1;
      }

      &:hover {
        text-decoration: none;

        span.title {
          color: $accentColor;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .hide-below-md {
    display: none;
  }

  .essays-landing {
    hr {
      &.one-col {
        display: block;
      }

      &.two-col {
        display: none;
      }
    }
  }
}
