// Colors
$accentColor: #d94709;
$darkAccentColor: #a80022;
$footerBackground: #8c001c;
$interfaceStroke: #fac589;
$lowlightBackground: #fcdebb;
$negativeColor: #fff;
$textColor: #360916;

// Screen sizes for Bootstrap
// Reference:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
