// Colors
$interfaceStroke: #ccc;
$lowlightBackground: #ececec;
$footerBackground: #dcdcdc;

// Screen sizes for Bootstrap
// Reference:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;