---
layout: default
bodytag: homepage
---
<article>
<img src="{{ site.baseurl }}/images/interface/homepage-background.jpg" class="background" />
<div class="bar homepage-banner">
  <div class="container">
    <header>
      <h1>
        <img src="{{ site.baseurl }}/images/interface/homepage-banner.png" />
        <span class="invisible-text">{{ page.title }}</span>
      </h1>
    </header>
  </div>
</div>
<div class="bar">
  <div class="container">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 page-content">
      <p class="byline">By {{ page.author }}</p>
      {{ content }}
    </div>
  </div>
</div>

</article>
